<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shop Main page</title>
    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
</head>
<body>

<!-- 합쳐지고 최소화된 최신 자바스크립트 -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script>
     var authorization = localStorage.getItem("Authorization");
     //var request = new Headers();
     if(authorization == null) {
         document.write("<a href = '/shop/auth/signin'>로그인</a><br />");
         document.write("<a href = '/shop/auth/signup'>회원가입</a><br />");
         document.write("<a href = '/shop/shop/shopList'>게시판</a><br />");
         document.write("<a href = '/shop/qna/qnaList'>qna</a>");
     }else {
         document.write("<a href = '/shop/auth/logout'>로그아웃</a><br />");
         document.write("<a href = '/shop/shop/shopList'>게시판</a><br />");
         document.write("<a href = '/shop/qna/qnaList'>qna</a>");
         //request.append("Authorization", authorization);
         /*document.write("<a href = '/shop/auth/signup'></a>");*/
     }
</script>
</body>
</html>